body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-family: arial, sans-serif;
    background-image: url('img.jpg');
    background-size: cover;
    text-align: center;
}

.navbar{
    background-color: rgba(148, 148, 148, 0.479);
    display: flex;
    align-items: center;
    color: white;
}

header{
    background-color: rgb(33, 33, 134);
    padding: 5px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


h2{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(148, 148, 148, 0.479);
}

nav{
    justify-content: center;
}
 
nav a {
    padding: 20px;
    text-decoration: none;
    margin: 14px;
    color: white;
    font-size: 16px;

}

nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}


.artikel {
    background-color: rgba(245, 245, 245, 0.635);
    border-radius: 10%;
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 35%;
    padding: 30px;
    width: 300px;
    color: rgb(42, 95, 128);
}

.footer {
    background-color: rgb(140, 33, 33);
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 14px;
}

 .fixed-box {
     position: fixed;
     bottom: 10px;
     right: 10px;
     color: white;
     padding: 10px;
 }

 .sticky-box {
     position: sticky;
     top: 0;
     padding: 10px;
     font-weight: bold;
 }

 aside{
    background-color: rgba(245, 245, 245, 0.635);
    border-radius: 10%;
    text-align: center;
    margin-bottom: 44px;
    margin-left: 31%;
    margin-right: 35%;
    padding: 80px;
    width: 300px;
    color: rgb(42, 95, 128);
 }

 section h3 {
    padding: 40px;
    color: rgb(42, 95, 128);
    font-size: 25px;
    background-color: rgba(252, 255, 254, 0.662);
}

section ol {
    line-height: 1.6;
    color: rgb(42, 95, 128);
    font-size: 20px;
    background-color: rgba(252, 255, 254, 0.662);
    margin-bottom: 10px;
}

.container{
    color: white;
    font-weight: bold;

}

footer a{
    color: rgb(103, 182, 204);
    font-weight: bold;
    background-color: rgba(252, 255, 254, 0.662);
}